centos.1*
centos.2*
centos.3*
centos.4*
centos.5*
centos.6*
centos.7*
centos.8*
centos.9*
opensuse.1*
opensuse.2*
opensuse.3*
opensuse.4*
opensuse.5*
opensuse.6*
opensuse.7*
opensuse.8*
opensuse.9*
ubuntu.1*
ubuntu.2*
ubuntu.3*
ubuntu.4*
ubuntu.5*
ubuntu.6*
ubuntu.7*
ubuntu.8*
ubuntu.9*
epel.*
tmp
*.tmp
tmp.*
.mypy_cache/
